$breakpoint: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
);

// export variables to javascript -------------------------
/* stylelint-disable */

// export breakpoints
:export {
  @each $key, $value in $breakpoint {
    #{unquote($key)}: $value;
  }
}
