[is='component-styleguide'] {
  margin: 0 auto 100px auto;

  section {
    margin-top: 70px;

    > h2 {
      margin-bottom: 50px;
      padding: 20px 0;
      border-bottom: 1px solid $c_black;
    }
  }

  .colors {
    li {
      position: relative;
      display: inline-block;
      margin: 5px;
    }

    .color {
      width: 100px;
      margin-bottom: 5px;
      padding: 20px;
      border-radius: 2px;
    }

    .title {
      padding: 0 5px;
      text-align: center;
    }
  }

  .buttons {
    li {
      margin: 20px 0;
    }
  }
}
