/* normalize */
@import 'normalize.css/normalize';

/* variables, maps, mixins */
@import './shared/styles/variables/**';
@import './shared/styles/mixins/**';

/* base */
@import './shared/styles/fonts';
@import './shared/styles/icons';
@import './shared/styles/base';
@import './shared/styles/generic';
@import './shared/styles/layout';

/* components */
@import './Components/*/_style.scss';
